# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.py[cod]
*$py.class

# Virtual Environment
venv/
ENV/
env/

# IDE
.idea
.vscode
*.swp
*.swo

# Docker
.docker
Dockerfile
docker-compose*.yml

# Testing
.coverage
htmlcov/
.pytest_cache/

# Misc
.DS_Store
README.md
*.md